<%- include ('../templates/header.ejs') %>
<div class='container messages-and-comments'>
    <% if(typeof errorMessage !== 'undefined') { %>
        <p class='errors'><%= errorMessage %></p>
    <% } else if(typeof successMessage !== 'undefined') { %> 
    <p class='success'><%= successMessage %></p>
    <% } %> 
    <div class='user-information'>
        <h3><%= getUser[0].first_name +' '+ getUser[0].last_name %></h5>
        <p>Registered at: <%= getUser[0].created_at %></p>
        <p>User ID: #<%= getUser[0].id %></p>
        <p>Email Address: <%= getUser[0].email %></p>
        <p>Description: <%= getUser[0].description %></p>
    </div>
    <form class='messages-info' action="/users/message" method="POST">
        <input type="hidden" name="receiver_id" value="<%= getUser[0].id %>">
        <h5>Leave a message for <%= getUser[0].first_name %></h5>
        <textarea name="message" id="message" cols="30" rows="8" placeholder=" Type here..."></textarea>

        <input type="submit" value='POST'>
    </form>
    <ul class='comments-info'>
        <!-- messages -->
<%      for(let x in getMessage) { %>
<%          if(getUser[0].id == getMessage[x].receiver_id) { %>
                <li>
                    <h5><%= getMessage[x].first_name +' '+ getMessage[x].last_name +' wrote - '+ getMessage[x].date_created_at %> </h5>
                    <p class='message-content'><%= getMessage[x].message %></p>
        <!--comment -->

<%              for (let y in getComment) { %>
<%                  if(getComment[y].message_id == getMessage[x].id ) { %>
                    <ul>
                        <li><h6><%= getComment[y].first_name +' '+ getComment[y].last_name +' wrote - '+ getComment[y].date_created_at %> </h6>
                        <p>-><%= getComment[y].comment %></p></li>
                    </ul>
<%                  } %>
            </li>
<%              } %>
            <form action="/users/comment" method="POST">
                <input type="hidden" name="message_id" value="<%= getMessage[x].id %>">
                <textarea name="comment" cols="30" rows="5" placeholder=" Type to reply..."></textarea>
                <input type="submit" value="Comment">
            </form>
<%          } %>
<%      } %>
    </ul>
</div>
<%- include ('../templates/footer.ejs') %> 